@use '../../../abstract/variables' as *;

.drink-display {
  @include lightFont(20px);
  width: 100%;
  height: 78vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .fav-bar {
    display: flex;
    flex-direction: row;
  }
  h1 {
    font-size: 32px;
  }

  .instructions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 67vw;
    height: 70%;
    background-color: $darkPurp;
    padding: 20px;

  }

  .recipe {
    @include transBack(10vh, 90vw);
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-around;
    padding: 10px;
    height: 15vh;
    width: 70vmin;

    .lists {
      flex-direction: row;
    }

    .directions {
      height: 50%;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.drink {
  width: 75%;
}

.drink-img {
  height: 35vh;
  border: 10px solid $medPurp;
}

.drink-name {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;

  .fav-button {
    background-color: $palePurp;
    height: 7vh;
    width: 5vw;
    border: none;
    border-radius: 50px;
  }

  .heart {
    height: 2em;
  }
}