@use '../../../abstract/variables' as *;

.header {
  @include lightFont(16px);
  text-align: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  height: 20vh;
  width: 100%;
  background-color: $sheerPurp;
  border-bottom: 3px solid $lightPurp;
}

.logo {
  height: 9vmax;
  width: 85vmin;
}

.reason {
  @include lightFont(14px);
}

.buttons {
  height: 10vh;
  justify-content: space-between;
}

.nav-buttons {
  cursor: pointer;
  @include lightFont(16px);
  margin: 1em;
  border: none;
  background-color: $sheerPurp;
  padding:5px;
}