@use '../../../abstract/variables' as *;

.header {
  @include lightFont(14px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
  background-color: $sheerPurp;
  border-bottom: 3px solid $lightPurp;
}

.logo {
  height: 10vh;
  width: 90vw;
}

.reason {
  @include lightFont(14px);
}

.buttons {
  height: 7vh;
}

.nav-buttons {
  // @include lightFont(14px);
  border: none;
  background-color: none;

}