@use '../../../abstract/variables' as *;

.drink-card {
  @include cardBack;
  .drink-image {
    height: 90%;
    width: 90%;
  }
  :hover {
    .drink-name {
      visibility: visible;
    }
  }

  .heart {
    color: #FB78BC;
    height: 20px;
    width: 20px;
    padding: 3px;
    border-radius: 16px;
    background-color: $palePurp;
  }

}
