@use '../../../abstract/variables' as *;

.drink-card {
  @include cardBack;
  .drink-image {
    height: 90%;
    width: 90%;
  }
  :hover {
    .drink-name {
      visibility: visible;
    }
  }

  .heart {
    color: #FB78BC;
  }

}
